node_modules
dist
bin
static
charts

jest.config.js
jest.setup.js
jest.setupFastCheck.js
.eslintrc.js

docker-compose.*
Dockerfile*
*.json
*.md
*.properties
*.bowerrc
*.dist
*.png
*.jpg
*.gif
LICENSE
secret
secret.pub

*.yml
*.pem

